:root {
  --primary-teal-green: rgb(99, 177, 172);
  --main-bg: rgb(255, 255, 255);
  --primary-text: rgb(51, 51, 51);
  --light-gray-box: rgb(240, 240, 240);
  --warning-yellow: rgb(255, 193, 7);
  --notification-red: rgb(244, 67, 54);
  --fab-green: rgb(76, 154, 146);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--main-bg);
  color: var(--primary-text);
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: clamp(50px, 7vw, 70px);
  position: fixed;
  top: 0;
  background-color: var(--primary-teal-green);
  color: var(--main-bg);
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}

header a{
    text-decoration: none;
    color: var(--main-bg);
}

#mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.signupImg {
  height: 100%;
  background-color: var(--fab-green);
  color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  border: none;
}

.signupImg h1 {
  font-size: clamp(6px, 2.7vw, 70px);
}

@media (width<600px) {
  #mainContainer {
    grid-template-columns: 1fr;
  }
  .signupImg {
    display: none;
  }
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#loginForm p {
  font-size: clamp(15px, 1vw, 70px);
  margin: 0px auto;
}

#loginForm h1 {
  font-size: clamp(20px, 3vw, 70px);
  margin: 0px auto;
}

.formField {
  display: grid;
  grid-template-columns: 1fr;
}

.formField label {
  font-weight: bold;
  font-size: 18px;
}

.formField input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid;
  width: clamp(200px, 2rem, 300px);
}

#loginForm button {
  width: max-content;
  min-width: 50px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--fab-green);
  border: none;
  transition: transform 0.1s linear;
  cursor: pointer;
  font-size: clamp(15px, 2vw, 20px);
}

#loginForm button:hover {
  filter: brightness(0.9);
  outline: 1px solid;
  transform: scale(1.1);
}

#loginErrorField {
  color: red;
  text-align: center;
}

@media (width<350px) {
  #loginForm {
    min-width: 250px;
  }
}

@media (width>1024px) {
  #loginForm {
    min-width: 450px;
  }
}
